<!doctype html>
<html lang="en" class="no-js">
  {{>site/templates/head.html}}
  <body class="td-section">
    {{>site/templates/header.html}}
    <div class="container-fluid td-outer">
      <div class="td-main">
        <div class="row flex-xl-nowrap">
          <div class="col-12 col-md-3 col-xl-2 td-sidebar d-print-none">
            {{>site/templates/sidebar.html}}
          </div>
          <main class="col-12 col-md-9 col-xl-8 pl-md-5" role="main">
            <div class="td-content">
              {{{content}}}
            </div>
            <div class="section-index">
	            <hr class="panel-line">
	            {{#subsections}}
              <div class="entry">
                <h5>
                  <a href="{{url}}">{{title}}</a>
                </h5>
	              <p>{{description}}</p>
              </div>
	            {{/subsections}}
	          </div>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
