<!doctype html>
<html lang="en" class="no-js">
  {{>site/templates/head.html}}
  <body class="td-section">
    {{>site/templates/header.html}}
    <div class="container-fluid td-outer">
      <div class="td-main">
        <div class="row flex-xl-nowrap">
          <div class="col-12 col-md-3 col-xl-2 td-sidebar d-print-none">
            {{>site/templates/sidebar.html}}
          </div>
          <main class="col-12 col-md-9 col-xl-8 pl-md-5" role="main">
            <div class="row">
              <div class="col-12">
                <h2>{{{title}}}</h2>
                {{{preamble}}}
                <ul class="list-unstyled mt-4">
                  {{#posts}}
                  <li class="media mb-4">
                    <div class="media-body">
                      <h5 class="mt-0 mb-1"><a href="{{{url}}}">{{{title}}}</a></h5>
                      <p class="pt-0">
                      <small class="text-muted">Posted {{{pretty-date}}} with tags:
                        {{#tag-links}}
                        <a href="{{{url}}}">{{{id}}}</a>
                        {{/tag-links}}
                      </small>
                      </p>
                      {{#image}}
                      <figure class="float-left mr-3 pt-1 d-none d-md-block" style="width: 250px">
                        <img src="{{{image}}}" width="250" height="125">
                      </figure>
                      {{/image}}
                      <p class="pt-0 mt-0">{{{teaser}}}
                      <p class="pt-0"><a href="{{{url}}}">Read more</a></p>
                    </div>
                  </li>
                  {{/posts}}
                </ul>
              </div>
              <p class="pt-0">
                <small class="text-muted">Pages:
              {{#pages}}
               <a href={{{url}}}>{{{id}}}</a>
              {{/pages}}
              </p>
            </div>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
