<nav class="collapse td-sidebar-nav pt-2 pl-4" id="td-section-nav">
  <ul class="td-sidebar-nav__section pr-md-3">
    {{#toc1}}
    <li class="td-sidebar-nav__section-title">
      <a  href="{{url}}" class="align-left pl-0 pr-2 active td-sidebar-link td-sidebar-link__section">{{title}}</a>
    </li>
    <ul>
      {{#toc2}}
      <li class="collapse show">
        <ul class="td-sidebar-nav__section pr-md-3">
          <li class="td-sidebar-nav__section-title">
            <a  href="{{url}}" class="align-left pl-0 pr-2 td-sidebar-link td-sidebar-link__section">{{title}}</a>
          </li>
          <ul>
            <li class="collapse show">
            {{#toc3}}
            <a class="td-sidebar-link td-sidebar-link__page " id="m-docs-adding-content-content" href="{{url}}">{{title}}</a>
           {{/toc3}}
            </li>
          </ul>
        </ul>
      </li>
      {{/toc2}}
    </ul>
    {{/toc1}}
  </ul>
 </nav>
